@model Portal_de_empleos.Models.Ofertante
@using Portal_de_empleos.Controllers.Recursos.Enumerados;

@section Styles {
    <link rel="stylesheet" href='@Url.Content("~/css/sesion.css")' asp-append-version="true" />
}

@{
    ViewData["Title"] = "Sesion";
    var listaOfertas = ViewData["Ofertas"] as List<Oferta>;
}


@section Header{
    <header>
        <nav class="navbar navbar-expand-sm navbar-light my-navbar">

            <button type="button" class="navbar-toggler" data-bs-target="#menu" data-bs-toggle="collapse">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="menu">
                <ul class="d-flex m-auto w-100" style="list-style: none;">

                    <li>
                        <form asp-controller="Acceso" asp-action="FiltrarOfertas" method="get"
                              class="m-auto nav-searcher">
                            <div class="input-group">
                                <input type="text" name="busqueda" class="form-control bg-light shadow-none"
                                       placeholder="Haz una búsqueda..">

                                <div class="input-group-append">
                                    <button class="btn my-navbar-button-search" type="button">
                                        <i class="fas fa-search fa-sm"></i>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </li>

                    <li class="ms-auto">
                        <div class="user-info d-flex">

                            <div class="pe-2 d-flex">
                                <div class="me-3 text-center ">
                                    <h6 class="m-0 p-0 text-muted">¡ Bienvenid@@ !</h6>
                                    <span class="me-2 text-gray-600 user-name">@Model.NOMBRE_COMPLETO</span>
                                </div>
                                <img class="img-profile rounded-circle" data-bs-toggle="modal"
                                     data-bs-target="#modal-perfil"
                                     src="@Model.FOTO" alt="foto-de-@Model.NOMBRE">
                            </div>

                            <div class="d-flex justify-content-center align-items-center ms-4">

                                <i class="fas fa-user-circle" data-bs-toggle="modal"
                                   data-bs-target="#modal-perfil" title="tu perfil"></i>

                                <i class="fas fa-sign-out-alt end-session mx-2"></i>
                            </div>
                        </div>
                    </li>

                </ul>

            </div>
        </nav>
    </header>
}

<main>

    <!-- Begin Page Content -->
    <section class="container-fluid px-lg-4">
        <div class="my-4 d-flex justify-content-end">
            <!-- Page Heading -->
            <a href="#!" class="btn btn-sm shadow-sm report-button">
                <i class="fas fa-download fa-sm text-white me-1"></i>
                Generar un reporte
            </a>
        </div>

        <form class="m-auto d-none content-searcher mb-4 mt-4">
            <div class="input-group">
                <input type="text" class="form-control bg-light shadow-none bg-white"
                       placeholder="Haz una búsqueda.." style="width: 5px;">

                <div class="input-group-append">
                    <button class="btn btn-form-content" type="button">
                        <i class="fas fa-search fa-sm"></i>
                    </button>
                </div>
            </div>
        </form>


        <section class="cards d-flex">

            <article class="card-single rounded d-flex justify-content-between">
                <div>
                    <h3 class="fw-bold">@Model.CANTIDAD_OFERTAS</h3>
                    <span>Ofertas publicadas por ti</span>
                </div>
                <div>
                    <i class="fas fa-briefcase"></i>
                </div>
            </article>


            <article class="card-single rounded d-flex justify-content-between">
                <div>
                    <h3 class="fw-bold">@Model.CANTIDAD_CLICK</h3>
                    <span>Copiaron/Clickearon tu correo</span>
                </div>
                <div>
                    <i class="far fa-hand-pointer"></i>
                </div>
            </article>

            <article class="card-single card-searcher pe-0 rounded">
                <form asp-controller="Acceso" asp-action="FiltrarOfertas" method="get" class="ps-2 card-form-filtro">
                    <label><i class="fas fa-filter me-2"></i> Filtrar por:</label>
                    <select class="ms-3 selectOpt">
                        <option selected>Seleccionar</option>
                        <option>Titulo de oferta</option>
                        <option>Empresa</option>
                        <option>Provincia</option>
                        <option>Categoria</option>
                        <option>Tiempo</option>
                        <option>Modalidad</option>
                        <option>Fecha</option>
                    </select>

                    <div class="d-flex ps-1 pe-2 pt-3">
                        <select class="search select-default">
                            <option>Selecciona un filtrado</option>
                        </select>

                        <input type="text" class="search form-control"
                               placeholder="Escribe titulo de oferta">

                        <select class="search">
                            <option selected disabled hidden>Seleccionar&nbsp;&nbsp;Empresa</option>
                            @foreach (string empresa in
                        listaOfertas.Select(x => x.EMPRESA).Distinct().ToList())
                            {
                                <option value="@empresa">@empresa</option>
                            }
                        </select>

                        <select class="search">
                            <option selected disabled hidden>Seleccionar&nbsp;&nbsp;Provincia</option>
                            @foreach (string provincia in
                        listaOfertas.Select(x => x.PROVINCIA.NOMBRE).Distinct().ToList())
                            {
                                <option value="@provincia">@provincia</option>
                            }
                        </select>

                        <select class="search">
                            <option selected disabled hidden>Seleccionar&nbsp;&nbsp;Categoria</option>
                            @foreach (string categoria in
                        listaOfertas.Select(x => x.CATEGORIA.NOMBRE).Distinct().ToList())
                            {
                                <option value="@categoria">@categoria</option>
                            }
                        </select>

                        <select class="search">
                            <option selected disabled hidden>Seleccionar&nbsp;&nbsp;Tiempo</option>
                            <option value="Tiempo Completo">Tiempo Completo</option>
                            <option value="Medio Tiempo">Medio Tiempo</option>
                            <option value="Temporal">Temporal</option>
                        </select>

                        <select class="search">
                            <option selected disabled hidden>Seleccionar&nbsp;&nbsp;Modalidad</option>
                            <option value="Presencial">Presencial</option>
                            <option value="Remoto">Remoto</option>
                        </select>

                        <input type="date" class="search form-control">

                        <input type="hidden" name="busqueda" id="filtroValor" />
                        <input class="btn btn-info fw-bold ms-3" value="Buscar" type="submit">
                    </div>
                </form>
            </article>
        </section>

        @if (listaOfertas.Count > 0)
        {
            <article class="card border-0 mb-5 w-100">
                <div class="card-body">
                    <!-- title -->
                    <div class="d-md-flex align-items-center">
                        <div>
                            <h4 class="card-title">Ofertas de empleo publicadas</h4>
                            <h5 class="card-subtitle titulo-tipo-orden">Vista de últimas ofertas publicadas</h5>
                            <select asp-items="@Html.GetEnumSelectList<Ordenar>()"
                                    class="form-select mt-2 shadow-none font-14 select-ordenar">
                                <option selected value="null">Ordenar por</option>
                            </select>
                        </div>
                        <div class="ms-auto">
                            <button class="mb-2 button-new-offer mt-3">
                                Publicar nueva oferta <i style="margin-left: 9px;" class="fas fa-plus"></i>
                            </button>
                        </div>
                    </div>
                    <!-- title -->
                </div>

                @*Invocando vista parcial para mostrar tabla de ofertas*@
                <partial name="_OfertasDatos" model="listaOfertas" />
            </article>
        }
        else
        {
            <article class="d-flex justify-content-center text-center flex-column">
                <img src="~/img/maletin.png" width="150" class="d-block m-auto" alt="maletin">
                <a class="btn d-block m-auto text-white mt-2 btn-agregar-oferta" href="#!">
                    Publicar nueva oferta <i class="ms-2 fas fa-plus"></i>
                </a>
            </article>
        }
    </section>

    <!--MODALES VISTA-->

    <section>
        <!--MODAL PERFIL-->
        <div class="modal fade" id="modal-perfil" tabindex="-1" aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header border-0 d-flex justify-content-center">
                        <img src="@Model.FOTO"
                             class="rounded-circle" alt="">
                        <h2 class="w-100 text-center">
                            @Model.NOMBRE_COMPLETO
                        </h2>
                    </div>
                    <div class="modal-body w-100 d-flex flex-column text-center">

                        @if (Model.BUSCANDO != string.Empty)
                        {<p><i class="fas fa-comment-dots"></i>Buscando @Model.BUSCANDO</p>}
                        <p><i class="fas fa-envelope"></i>@Model.EMAIL</p>
                        @if (Model.URL_SITIO != string.Empty)
                        {<p><i class="fas fa-globe"></i>@Model.URL_SITIO</p>}
                    </div>
                    <div class="modal-footer border-0 p-0">
                        <button type="button" class="btn btn-danger mt-2 mb-2" data-bs-dismiss="modal">
                            <i class="fas fa-times-circle me-2"></i>Cerrar
                        </button>
                        <div class="dropdown mb-2">
                            <span class="btn dropdown-toggle" role="button" id="dropdownMenuLink"
                                  data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="fas fa-users-cog me-2"></i>Editar Datos
                            </span>

                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                <li data-bs-toggle="modal" data-bs-target="#modal-update-perfil"
                                    data-bs-dismiss="modal">
                                    <span class="dropdown-item">
                                        <i class="fas fa-id-card"></i>Editar
                                        Perfil
                                    </span>
                                </li>
                                <li data-bs-toggle="modal" data-bs-target="#modal-update-password"
                                    data-bs-dismiss="modal">
                                    <span class="dropdown-item">
                                        <i class="fas fa-asterisk"></i>Editar
                                        clave
                                    </span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!--MODAL UPDATE PERFIL-->
        <div class="modal fade" id="modal-update-perfil" tabindex="-1" aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header mb-4">
                        <h2 class="w-100 text-center">
                            Ajustes del perfil <i class="fas fa-user-cog"></i>
                        </h2>
                    </div>
                    <form asp-controller="Acceso" asp-action="ActualizarInfo" method="post" enctype="multipart/form-data" class="row modal-body pt-0 perfil-update-form" id="perfil-update-form">

                        <div class="col-12 mb-3 d-flex justify-content-center">
                            <div class="update-img">
                                <img src="@Model.FOTO"
                                     class="rounded-circle me-3" id="update-img-perfil" alt="foto-de-@Model.NOMBRE">
                                <input asp-for="FICHEROS" type="file" multiple id="update-image-file" class="input-profile d-none"
                                       accept="image/png, image/jpeg">
                                <label for="update-image-file" id="descargar-foto-label">Cambiar</label>
                            </div>
                        </div>

                        <div class="col-6 mb-2">
                            <label asp-for="NOMBRE" class="col-form-label">
                                Nombre<span class="required">#</span>
                            </label>
                            <input asp-for="NOMBRE" type="text" class="form-control input-profile"
                                   placeholder="Insertar su nombre" value="@Model.NOMBRE" autocomplete="off"
                                   required>
                            <i class="fas fa-user"></i>
                        </div>
                        <div class="col-6 mb-2">
                            <label asp-for="APELLIDO" class="col-form-label">
                                Apellido<span class="required">#</span>
                            </label>
                            <input asp-for="APELLIDO" type="text" class="form-control input-profile"
                                   placeholder="Insertar su apellido" value="@Model.APELLIDO" autocomplete="off"
                                   required>
                            <i class="fas fa-user"></i>
                        </div>

                        <div class="col-12 mb-2">
                            <label asp-for="EMAIL" class="col-form-label">
                                Email<span class="required">#</span>
                            </label>
                            <input asp-for="EMAIL" type="email" class="form-control input-profile"
                                   value="@Model.EMAIL" placeholder="service@hotmail.com"
                                   autocomplete="off">
                            <i class="fas fa-search"></i>
                        </div>

                        <div class="col-12 mb-2">
                            <label asp-for="BUSCANDO" class="col-form-label">¿Qué andas buscando?</label>
                            <input asp-for="BUSCANDO" type="text" class="form-control input-profile input-buscando"
                                   value="@Model.BUSCANDO" placeholder="Ej: Contables"
                                   autocomplete="off">
                            <i class="fas fa-search"></i>
                        </div>
                        <div class="col-12 mb-2">
                            <label asp-for="URL_SITIO" class="col-form-label">Sitio Web</label>
                            <input asp-for="URL_SITIO" type="url" class="form-control input-profile" placeholder="URL"
                                   value="@Model.URL_SITIO" autocomplete="off">
                            <i class="fas fa-globe"></i>
                        </div>
                    </form>
                    <div class="modal-footer border-0 p-0 px-2">
                        <button type="button" class="btn btn-danger mt-2 mb-2 cancel" data-bs-toggle="modal"
                                data-bs-target="#modal-perfil" data-bs-dismiss="modal">
                            <i class="fas fa-times-circle me-2"></i>Cancelar
                        </button>

                        <button type="submit" class="btn mt-0 mt-2 mb-2 btn-update-profile"
                                form="perfil-update-form" disabled>
                            <i class="fas fa-check-circle me-2"></i>Actualizar
                        </button>
                    </div>

                </div>
            </div>
        </div>


        <!--MODAL UPDATE CONTRASEñA-->
        <div class="modal fade" id="modal-update-password" tabindex="-1" aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header mb-4">
                        <h2 class="w-100 text-center">Cambio de clave <i class="fas fa-user-lock"></i></h2>
                    </div>
                    <div class="modal-quote px-3">
                        <p>¡ Cambiar la clave cada cierto tiempo es siempre una buena opción !</p>
                    </div>
                    <form asp-controller="Acceso" asp-action="ActualizarContra" method="post" class="row modal-body pt-0 password-update-form" id="password-form">

                        <div class="col-12 mb-3">
                            <label for="vContrasena" class="col-form-label">Contraseña actual</label>
                            <input name="vContrasena" type="password" class="form-control" placeholder="*************"
                                   autocomplete="off" required>
                            <i class="fas fa-lock"></i>
                        </div>
                        <div class="col-6 mb-3">
                            <label for="nContrasena" class="col-form-label">Contraseña nueva</label>
                            <input name="nContrasena" type="password" class="form-control new-password"
                                   placeholder="*************" autocomplete="off" minlength="8" required>
                            <i class="fas fa-lock"></i>
                        </div>
                        <div class="col-6 mb-3">
                            <label for="" class="col-form-label">Confirmar contraseña</label>
                            <input type="password" class="form-control new-password"
                                   placeholder="*************" autocomplete="off" required>
                            <i class="fas fa-lock"></i>
                        </div>
                    </form>
                    <div class="modal-footer border-0 p-0 px-2">
                        <button type="button" class="btn btn-danger mt-2 mb-2 cancel" data-bs-toggle="modal"
                                data-bs-target="#modal-perfil" data-bs-dismiss="modal">
                            <i class="fas fa-times-circle me-2"></i>Cancelar
                        </button>

                        <button type="submit" class="btn mt-0 mt-2 mb-2"
                                form="password-form">
                            <i class="fas fa-check-circle me-2"></i>Actualizar
                        </button>
                    </div>

                </div>
            </div>
        </div>       
    </section>
</main>

@Html.Raw(TempData["Mensaje"]);

@section Scripts{
    <script src="@Url.Content("~/js/sesion/sesion.js")" asp-append-version="true" type="module"></script>
    <script src="https://kit.fontawesome.com/1d9813da54.js" crossorigin="anonymous"></script>     
}
